In [1]:
import pandas as pd
from functools import reduce

In [2]:
agr = pd.read_csv('usa_fips_big5_agr.csv')
con = pd.read_csv('usa_fips_big5_con.csv')
ext = pd.read_csv('usa_fips_big5_ext.csv')
neu = pd.read_csv('usa_fips_big5_neu.csv')
ope = pd.read_csv('usa_fips_big5_ope.csv')

In [3]:
agr.head()

   fips_code  big5_agr_nointerp
0          0           -0.68137
1       1001           -0.72685
2       1003            0.18771
3       1005           -0.24126
4       1009           -0.02345

In [4]:
data_frames = [agr, con, ext, neu, ope]

In [5]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['fips_code'], how='outer'), data_frames)

In [6]:
df_merged.head()

,fips_code,big5_agr_nointerp,big5_con_nointerp,big5_ext_nointerp,big5_neu_nointerp,big5_ope_nointerp
0,0,-0.68137,-1.82017,-0.36967,0.87733,-0.00245
1,1001,-0.72685,-0.61908,0.04729,0.53763,-0.29099
2,1003,0.18771,0.39662,0.29649,0.09940,0.39573
3,1005,-0.24126,-0.21672,0.50650,-0.22808,-0.60496
4,1009,-0.02345,-0.10987,0.10189,0.96879,-0.28931

In [7]:
len(df_merged)

1775

In [8]:
len(df_merged.dropna())

1775

In [9]:
df_merged.columns = ['fips_code','agr','con','ext','neu','ope']
df_merged.to_csv('big5.csv')

In [ ]:
# https://www.weather.gov/gis/ZoneCounty
fips_raw = pd.read_csv('bp02ap19.dbx', delimiter='|', header=None)
fips_raw.columns = ['STATE','ZONE','CWA','NAME','STATE_ZONE','COUNTY','FIPS','TIME_ZONE','FE_AREA','LAT','LON']

In [49]:
fips_raw.head()

,STATE,ZONE,CWA,NAME,STATE_ZONE,COUNTY,FIPS,TIME_ZONE,FE_AREA,LAT,LON
0,AK,17,AJK,Cape Fairweather to Cape Suckling Coastal Area,AK017,Yakutat,2282,A,NaN,59.9186,-140.5769
1,AK,18,AJK,Taiya Inlet and Klondike Highway,AK018,Skagway,2230,A,NaN,59.5601,-135.3379
2,AK,19,AJK,Haines Borough and Lynn Canal,AK019,Haines,2100,A,NaN,59.0942,-135.4295
3,AK,19,AJK,Haines Borough and Lynn Canal,AK019,Juneau,2110,A,NaN,59.0942,-135.4295
4,AK,20,AJK,Glacier Bay,AK020,Hoonah-Angoon,2105,A,NaN,58.7895,-136.3767

In [46]:
fips_centers = fips_centers[['FIPS','LAT','LON']]
fips_centers.head()

   FIPS      LAT       LON
0  2282  59.9186 -140.5769
1  2230  59.5601 -135.3379
2  2100  59.0942 -135.4295
3  2110  59.0942 -135.4295
4  2105  58.7895 -136.3767

In [47]:
fips_centers.groupby('FIPS').mean()

             LAT        LON
FIPS
1001   32.534900 -86.642800
1003   30.645033 -87.700433
1005   31.869600 -85.393200
1007   32.998600 -87.126400
1009   33.980900 -86.567400
1011   32.100500 -85.716100
1013   31.752400 -86.680300
1015   33.771400 -85.826100
1017   32.914400 -85.392000
1019   34.176000 -85.603800
1021   32.847900 -86.718800
1023   32.019200 -88.262800
1025   31.670900 -87.830900
1027   33.269100 -85.860500
1029   33.674500 -85.518800
1031   31.402600 -85.988200
1033   34.700500 -87.804900
1035   31.429300 -86.993600
1037   32.936200 -86.247600
1039   31.248500 -86.451200
1041   31.731500 -86.313600
1043   34.132000 -86.867600
1045   31.431800 -85.611000
1047   32.325800 -87.106500
1049   34.459800 -85.804100
1051   32.596600 -86.149200
1053   31.126200 -87.161600
1055   34.045300 -86.034800
1057   33.721200 -87.738900
1059   34.441700 -87.843800
...          ...        ...
72101  18.213000 -66.409200
72103  18.286100 -65.779600
72105  18.213000 -66.409200
72107  18.213000 -66.409200
72109  18.025800 -66.075600
72111  18.053900 -66.652700
72113  18.053900 -66.652700
72115  18.435300 -66.941000
72117  18.242500 -67.168300
72119  18.286100 -65.779600
72121  18.238500 -66.848200
72123  18.025800 -66.075600
72125  18.242500 -67.168300
72127  18.371000 -66.098100
72129  18.189400 -66.052000
72131  18.238500 -66.848200
72133  18.053900 -66.652700
72135  18.371000 -66.098100
72137  18.371000 -66.098100
72139  18.371000 -66.098100
72141  18.238500 -66.848200
72143  18.415400 -66.530900
72145  18.415400 -66.530900
72147  18.123100 -65.441500
72149  18.213000 -66.409200
72151  18.025800 -66.075600
72153  18.053900 -66.652700
78010  17.733300 -64.767700
78020  18.342900 -64.856400
78030  18.342900 -64.856400

[3231 rows x 2 columns]

In [51]:
fips = pd.merge(fips_raw.drop_duplicates('FIPS')[['STATE','COUNTY','FIPS']], fips_centers.groupby('FIPS').mean(), left_on='FIPS', right_index=True)

In [52]:
fips

     STATE                  COUNTY   FIPS        LAT         LON
0       AK                 Yakutat   2282  59.918600 -140.576900
1       AK                 Skagway   2230  59.560100 -135.337900
2       AK                  Haines   2100  59.094200 -135.429500
3       AK                  Juneau   2110  58.558300 -134.614200
4       AK           Hoonah-Angoon   2105  58.032680 -135.362360
6       AK                   Sitka   2220  57.563175 -135.448425
14      AK  Petersburg Census Area   2195  56.639067 -133.262467
16      AK                Wrangell   2275  55.961933 -131.946033
18      AK   Prince of Wales-Hyder   2198  55.527067 -131.954867
19      AK       Ketchikan Gateway   2130  55.643000 -131.428550
25      AK               Anchorage   2020  61.060533 -149.225967
27      AK       Matanuska-Susitna   2170  62.199500 -149.970400
28      AK         Kenai Peninsula   2122  60.325833 -153.019233
31      AK          Valdez-Cordova   2261  61.925483 -145.505017
35      AK     Southeast Fairbanks   2240  63.401750 -144.723150
37      AK                  Bethel   2050  61.255840 -157.364440
38      AK                  Denali   2068  63.448983 -149.601583
42      AK              Dillingham   2070  60.409100 -156.781000
44      AK      Lake and Peninsula   2164  58.679725 -157.231950
46      AK           Yukon-Koyukuk   2290  65.371675 -152.917775
48      AK                Kusilvak   2158  62.361550 -161.897575
50      AK             Bristol Bay   2060  59.298400 -157.245100
53      AK           Kodiak Island   2150  58.794750 -155.704000
58      AK          Aleutians East   2013  55.609600 -161.202900
60      AK          Aleutians West   2016  53.722700  -94.743950
64      AK             North Slope   2185  68.898470 -154.627730
69      AK        Northwest Arctic   2188  66.926433 -157.949044
73      AK                    Nome   2180  64.669033 -163.574633
102     AK    Fairbanks North Star   2090  64.946140 -146.780640
125     AL              Lauderdale   1077  34.901500  -87.654400
...    ...                     ...    ...        ...         ...
4428    WV                  Tucker  54093  39.113600  -79.565000
4430    WV                 Raleigh  54081  37.766850  -81.236650
4432    WV                 Fayette  54019  38.003300  -81.037900
4434    WV                Nicholas  54067  38.258050  -80.746450
4436    WV                 Webster  54101  38.479150  -80.405550
4438    WV              Pocahontas  54075  38.326550  -80.009250
4440    WV                Randolph  54083  38.789650  -79.893050
4445    WY                    Park  56029  44.454725 -109.361525
4446    WY                   Teton  56039  43.977233 -110.579600
4447    WY                 Fremont  56013  43.259445 -108.952582
4448    WY             Hot Springs  56017  43.855867 -108.687867
4451    WY                Big Horn  56003  44.398250 -107.884500
4454    WY                Washakie  56043  44.034667 -107.438067
4457    WY                 Natrona  56025  43.307450 -107.263967
4460    WY                 Johnson  56019  44.087575 -106.840300
4469    WY                 Lincoln  56023  42.820833 -110.528467
4470    WY                Sublette  56035  42.922283 -109.960367
4483    WY              Sweetwater  56037  41.832420 -109.043400
4485    WY                   Uinta  56041  41.287600 -110.547600
4499    WY                Campbell  56005  44.219800 -105.548750
4501    WY                   Crook  56011  44.617633 -104.430200
4503    WY                  Weston  56045  44.099100 -104.466750
4506    WY                Sheridan  56033  44.786300 -107.073200
4508    WY                Converse  56009  42.713750 -105.541700
4509    WY                Niobrara  56027  43.056500 -104.475400
4510    WY                  Albany  56001  41.670625 -105.710900
4512    WY                  Platte  56031  42.156200 -105.243500
4513    WY                  Carbon  56007  41.633500 -106.778638
4517    WY                 Laramie  56021  41.417860 -104.904380
4520    WY                  Goshen  56015  42.088000 -104.353300

[3231 rows x 5 columns]

In [53]:
data_df = pd.merge(fips, df_merged, left_on='FIPS', right_on='fips_code', how='left')

In [54]:
data_df

,STATE,COUNTY,FIPS,LAT,LON,fips_code,agr,con,ext,neu,ope
0,AK,Yakutat,2282,59.918600,-140.576900,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,Skagway,2230,59.560100,-135.337900,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,Haines,2100,59.094200,-135.429500,NaN,NaN,NaN,NaN,NaN,NaN
3,AK,Juneau,2110,58.558300,-134.614200,2110.0,0.12631,-0.38865,-1.09106,0.45000,1.12440
4,AK,Hoonah-Angoon,2105,58.032680,-135.362360,NaN,NaN,NaN,NaN,NaN,NaN
5,AK,Sitka,2220,57.563175,-135.448425,NaN,NaN,NaN,NaN,NaN,NaN
6,AK,Petersburg Census Area,2195,56.639067,-133.262467,NaN,NaN,NaN,NaN,NaN,NaN
7,AK,Wrangell,2275,55.961933,-131.946033,NaN,NaN,NaN,NaN,NaN,NaN
8,AK,Prince of Wales-Hyder,2198,55.527067,-131.954867,NaN,NaN,NaN,NaN,NaN,NaN
9,AK,Ketchikan Gateway,2130,55.643000,-131.428550,NaN,NaN,NaN,NaN,NaN,NaN
10,AK,Anchorage,2020,61.060533,-149.225967,2020.0,-0.07187,0.50272,-0.75724,-0.36715,1.58586
11,AK,Matanuska-Susitna,2170,62.199500,-149.970400,2170.0,-0.10116,-0.12038,-0.75970,0.24337,1.27837
12,AK,Kenai Peninsula,2122,60.325833,-153.019233,2122.0,0.69218,0.66584,-0.88539,-0.07798,0.92166
13,AK,Valdez-Cordova,2261,61.925483,-145.505017,NaN,NaN,NaN,NaN,NaN,NaN
14,AK,Southeast Fairbanks,2240,63.401750,-144.723150,NaN,NaN,NaN,NaN,NaN,NaN
15,AK,Bethel,2050,61.255840,-157.364440,NaN,NaN,NaN,NaN,NaN,NaN
16,AK,Denali,2068,63.448983,-149.601583,NaN,NaN,NaN,NaN,NaN,NaN
17,AK,Dillingham,2070,60.409100,-156.781000,NaN,NaN,NaN,NaN,NaN,NaN
18,AK,Lake and Peninsula,2164,58.679725,-157.231950,NaN,NaN,NaN,NaN,NaN,NaN
19,AK,Yukon-Koyukuk,2290,65.371675,-152.917775,NaN,NaN,NaN,NaN,NaN,NaN
20,AK,Kusilvak,2158,62.361550,-161.897575,NaN,NaN,NaN,NaN,NaN,NaN
21,AK,Bristol Bay,2060,59.298400,-157.245100,NaN,NaN,NaN,NaN,NaN,NaN
22,AK,Kodiak Island,2150,58.794750,-155.704000,2150.0,-0.11822,-1.16382,-0.54062,0.78234,0.12480
23,AK,Aleutians East,2013,55.609600,-161.202900,NaN,NaN,NaN,NaN,NaN,NaN
24,AK,Aleutians West,2016,53.722700,-94.743950,NaN,NaN,NaN,NaN,NaN,NaN
25,AK,North Slope,2185,68.898470,-154.627730,NaN,NaN,NaN,NaN,NaN,NaN
26,AK,Northwest Arctic,2188,66.926433,-157.949044,NaN,NaN,NaN,NaN,NaN,NaN
27,AK,Nome,2180,64.669033,-163.574633,NaN,NaN,NaN,NaN,NaN,NaN
28,AK,Fairbanks North Star,2090,64.946140,-146.780640,2090.0,-0.28287,-0.59824,-0.52370,0.62141,1.36446
29,AL,Lauderdale,1077,34.901500,-87.654400,1077.0,0.50381,0.31635,-0.05834,0.07655,0.41998
...,...,...,...,...,...,...,...,...,...,...,...
3201,WV,Tucker,54093,39.113600,-79.565000,NaN,NaN,NaN,NaN,NaN,NaN
3202,WV,Raleigh,54081,37.766850,-81.236650,54081.0,-0.41353,-0.54448,-0.36667,1.14670,0.38035
3203,WV,Fayette,54019,38.003300,-81.037900,54019.0,0.27171,-0.47237,-0.26866,0.65248,0.01217
3204,WV,Nicholas,54067,38.258050,-80.746450,54067.0,0.12595,-0.39587,0.29359,0.54493,-0.62530
3205,WV,Webster,54101,38.479150,-80.405550,NaN,NaN,NaN,NaN,NaN,NaN
3206,WV,Pocahontas,54075,38.326550,-80.009250,NaN,NaN,NaN,NaN,NaN,NaN
3207,WV,Randolph,54083,38.789650,-79.893050,54083.0,0.09154,-0.71855,-0.30160,0.67276,-0.09129
3208,WY,Park,56029,44.454725,-109.361525,56029.0,0.76441,-1.36519,1.05630,0.94156,-0.28965
3209,WY,Teton,56039,43.977233,-110.579600,56039.0,0.85108,1.10140,-0.20487,-0.64416,0.52878
3210,WY,Fremont,56013,43.259445,-108.952582,56013.0,0.25048,0.62695,-0.25939,-0.05257,0.22030
3211,WY,Hot Springs,56017,43.855867,-108.687867,NaN,NaN,NaN,NaN,NaN,NaN
3212,WY,Big Horn,56003,44.398250,-107.884500,NaN,NaN,NaN,NaN,NaN,NaN
3213,WY,Washakie,56043,44.034667,-107.438067,NaN,NaN,NaN,NaN,NaN,NaN
3214,WY,Natrona,56025,43.307450,-107.263967,56025.0,-0.19976,0.10565,-0.64509,0.31826,0.86807
3215,WY,Johnson,56019,44.087575,-106.840300,NaN,NaN,NaN,NaN,NaN,NaN
3216,WY,Lincoln,56023,42.820833,-110.528467,NaN,NaN,NaN,NaN,NaN,NaN
3217,WY,Sublette,56035,42.922283,-109.960367,NaN,NaN,NaN,NaN,NaN,NaN
3218,WY,Sweetwater,56037,41.832420,-109.043400,56037.0,0.26711,0.44028,-0.20226,0.54293,0.48838
3219,WY,Uinta,56041,41.287600,-110.547600,NaN,NaN,NaN,NaN,NaN,NaN
3220,WY,Campbell,56005,44.219800,-105.548750,56005.0,0.23304,-0.49348,-0.29325,0.65535,-0.11221
3221,WY,Crook,56011,44.617633,-104.430200,NaN,NaN,NaN,NaN,NaN,NaN
3222,WY,Weston,56045,44.099100,-104.466750,NaN,NaN,NaN,NaN,NaN,NaN
3223,WY,Sheridan,56033,44.786300,-107.073200,56033.0,0.35351,0.58054,-0.12107,0.05896,0.28300
3224,WY,Converse,56009,42.713750,-105.541700,NaN,NaN,NaN,NaN,NaN,NaN
3225,WY,Niobrara,56027,43.056500,-104.475400,NaN,NaN,NaN,NaN,NaN,NaN
3226,WY,Albany,56001,41.670625,-105.710900,56001.0,0.36744,0.62720,-0.40179,-0.66487,1.04800
3227,WY,Platte,56031,42.156200,-105.243500,NaN,NaN,NaN,NaN,NaN,NaN
3228,WY,Carbon,56007,41.633500,-106.778638,NaN,NaN,NaN,NaN,NaN,NaN
3229,WY,Laramie,56021,41.417860,-104.904380,56021.0,0.21696,0.49414,-0.34128,-0.02586,0.74622
3230,WY,Goshen,56015,42.088000,-104.353300,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
from sklearn.neighbors import KNeighborsRegressor

In [63]:
knn = KNeighborsRegressor(n_neighbors=5)
X = data_df.dropna()[['LAT','LON']]
for trait in ['agr','con','ext','neu','ope']:
    y = data_df.dropna()[trait]
    knn.fit(X, y)
    data_df[f'{trait}_interp'] = knn.predict(data_df[['LAT','LON']])
data_df.head()

,STATE,COUNTY,FIPS,LAT,LON,fips_code,agr,con,ext,neu,ope,agr_interp,con_interp,ext_interp,neu_interp,ope_interp
0,AK,Yakutat,2282,59.91860,-140.57690,NaN,NaN,NaN,NaN,NaN,NaN,0.072518,0.012258,-0.803418,0.173930,1.254950
1,AK,Skagway,2230,59.56010,-135.33790,NaN,NaN,NaN,NaN,NaN,NaN,0.052256,-0.325338,-0.788852,0.485968,1.240748
2,AK,Haines,2100,59.09420,-135.42950,NaN,NaN,NaN,NaN,NaN,NaN,0.052256,-0.325338,-0.788852,0.485968,1.240748
3,AK,Juneau,2110,58.55830,-134.61420,2110.0,0.12631,-0.38865,-1.09106,0.45,1.1244,0.216240,-0.144788,-0.794042,0.420742,1.201000
4,AK,Hoonah-Angoon,2105,58.03268,-135.36236,NaN,NaN,NaN,NaN,NaN,NaN,0.052256,-0.325338,-0.788852,0.485968,1.240748

In [65]:
data_df['agr'] = data_df['agr'].fillna(data_df['agr_interp'])
data_df['con'] = data_df['con'].fillna(data_df['con_interp'])
data_df['ext'] = data_df['ext'].fillna(data_df['ext_interp'])
data_df['neu'] = data_df['neu'].fillna(data_df['neu_interp'])
data_df['ope'] = data_df['ope'].fillna(data_df['ope_interp'])

In [66]:
data_df.to_csv('big5_interp.csv')

In [67]:
len(data_df)

3231

In [10]:
# distances_df = pd.read_csv('sf12010countydistance500miles.csv', encoding='latin-1')
distances_df = pd.read_csv('sf12010countydistancemiles.csv', encoding='latin-1')

In [11]:
distances_df.head()

   county1  mi_to_county  county2
0     1001     22.462994     1021
1     1001     26.844687     1085
2     1001     29.517585     1051
3     1001     30.776371     1047
4     1001     34.493443     1101

In [12]:
all_fips = distances_df['county1'].unique()
all_fips`

array([ 1001,  1003,  1005, ..., 72149, 72151, 72153], dtype=int64)

In [68]:
len(all_fips)

3221

In [13]:
# test_df = pd.merge(pd.merge(df_merged, distances_df, left_on='fips_code', right_on='county1', how='left'), df_merged, left_on='county2', right_on='fips_code', how='inner')
test_df = pd.merge(distances_df, df_merged, left_on='county2', right_on='fips_code')
test_df['distance_factor'] = test_df.apply(lambda row: 1/(row['mi_to_county'] + 1), axis=1)
test_df['agr_wgt'] = test_df.apply(lambda row: row['agr'] * (row['distance_factor']), axis=1)
test_df['con_wgt'] = test_df.apply(lambda row: row['con'] * (row['distance_factor']), axis=1)
test_df['ext_wgt'] = test_df.apply(lambda row: row['ext'] * (row['distance_factor']), axis=1)
test_df['neu_wgt'] = test_df.apply(lambda row: row['neu'] * (row['distance_factor']), axis=1)
test_df['ope_wgt'] = test_df.apply(lambda row: row['ope'] * (row['distance_factor']), axis=1)
test_df.head()

,county1,mi_to_county,county2,fips_code,agr,con,ext,neu,ope,distance_factor,agr_wgt,con_wgt,ext_wgt,neu_wgt,ope_wgt
0,1001,22.462994,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.042620,0.002030,-0.021312,0.001746,0.026066,-0.005166
1,1003,163.044172,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.006096,0.000290,-0.003048,0.000250,0.003728,-0.000739
2,1005,102.769275,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.009637,0.000459,-0.004819,0.000395,0.005894,-0.001168
3,1007,25.777246,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.037345,0.001778,-0.018674,0.001530,0.022840,-0.004526
4,1009,78.160965,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.012632,0.000602,-0.006317,0.000518,0.007726,-0.001531

In [14]:
grouped = test_df.groupby('county1')
interp_df = pd.DataFrame({
              'agr_interp':grouped.sum()['agr_wgt'] / grouped.sum()['distance_factor'],
              'con_interp':grouped.sum()['con_wgt'] / grouped.sum()['distance_factor'],
              'ext_interp':grouped.sum()['ext_wgt'] / grouped.sum()['distance_factor'],
              'neu_interp':grouped.sum()['neu_wgt'] / grouped.sum()['distance_factor'],
              'ope_interp':grouped.sum()['ope_wgt'] / grouped.sum()['distance_factor']
             })

In [15]:
interp_df.head()

         agr_interp  con_interp  ext_interp  neu_interp  ope_interp
county1
1001      -0.041281   -0.026682    0.059071    0.087391   -0.056151
1003      -0.066140   -0.049913    0.047520    0.089150   -0.039198
1005      -0.058887   -0.029564    0.065380    0.072901   -0.045140
1007      -0.028124   -0.020337    0.054864    0.093692   -0.058940
1009       0.000219   -0.008472    0.041031    0.109149   -0.032040

In [16]:
df_merged_interp = pd.merge(pd.merge(pd.DataFrame(all_fips, columns=['fips_code']), df_merged, how='left'), interp_df, left_on='fips_code',right_on='county1')

In [17]:
df_merged_interp.head()

,fips_code,agr,con,ext,neu,ope,agr_interp,con_interp,ext_interp,neu_interp,ope_interp
0,1001,-0.72685,-0.61908,0.04729,0.53763,-0.29099,-0.041281,-0.026682,0.059071,0.087391,-0.056151
1,1003,0.18771,0.39662,0.29649,0.09940,0.39573,-0.066140,-0.049913,0.047520,0.089150,-0.039198
2,1005,-0.24126,-0.21672,0.50650,-0.22808,-0.60496,-0.058887,-0.029564,0.065380,0.072901,-0.045140
3,1007,NaN,NaN,NaN,NaN,NaN,-0.028124,-0.020337,0.054864,0.093692,-0.058940
4,1009,-0.02345,-0.10987,0.10189,0.96879,-0.28931,0.000219,-0.008472,0.041031,0.109149,-0.032040

In [18]:
df_merged_interp['agr'] = df_merged_interp['agr'].fillna(df_merged_interp['agr_interp'])
df_merged_interp['con'] = df_merged_interp['con'].fillna(df_merged_interp['con_interp'])
df_merged_interp['ext'] = df_merged_interp['ext'].fillna(df_merged_interp['ext_interp'])
df_merged_interp['neu'] = df_merged_interp['neu'].fillna(df_merged_interp['neu_interp'])
df_merged_interp['ope'] = df_merged_interp['ope'].fillna(df_merged_interp['ope_interp'])

In [19]:
df_merged_interp.to_csv('big5_interp.csv')