In [1]:
import pandas as pd
from functools import reduce

In [2]:
agr = pd.read_csv('usa_fips_big5_agr.csv')
con = pd.read_csv('usa_fips_big5_con.csv')
ext = pd.read_csv('usa_fips_big5_ext.csv')
neu = pd.read_csv('usa_fips_big5_neu.csv')
ope = pd.read_csv('usa_fips_big5_ope.csv')

In [3]:
agr.head()

   fips_code  big5_agr_nointerp
0          0           -0.68137
1       1001           -0.72685
2       1003            0.18771
3       1005           -0.24126
4       1009           -0.02345

In [4]:
data_frames = [agr, con, ext, neu, ope]

In [5]:
df_merged = reduce(lambda left,right: pd.merge(left,right,on=['fips_code'], how='outer'), data_frames)

In [6]:
df_merged.head()

,fips_code,big5_agr_nointerp,big5_con_nointerp,big5_ext_nointerp,big5_neu_nointerp,big5_ope_nointerp
0,0,-0.68137,-1.82017,-0.36967,0.87733,-0.00245
1,1001,-0.72685,-0.61908,0.04729,0.53763,-0.29099
2,1003,0.18771,0.39662,0.29649,0.09940,0.39573
3,1005,-0.24126,-0.21672,0.50650,-0.22808,-0.60496
4,1009,-0.02345,-0.10987,0.10189,0.96879,-0.28931

In [7]:
len(df_merged)

1775

In [8]:
len(df_merged.dropna())

1775

In [9]:
df_merged.columns = ['fips_code','agr','con','ext','neu','ope']
df_merged.to_csv('big5.csv')

In [10]:
distances_df = pd.read_csv('sf12010countydistance100miles.csv', encoding='latin-1')

In [11]:
distances_df.head()

   county1  mi_to_county  county2
0     1001     22.462994     1021
1     1001     26.844687     1085
2     1001     29.517585     1051
3     1001     30.776371     1047
4     1001     34.493443     1101

In [12]:
all_fips = distances_df['county1'].unique()
all_fips

array([ 1001,  1003,  1005, ..., 72149, 72151, 72153], dtype=int64)

In [13]:
# test_df = pd.merge(pd.merge(df_merged, distances_df, left_on='fips_code', right_on='county1', how='left'), df_merged, left_on='county2', right_on='fips_code', how='inner')
test_df = pd.merge(distances_df, df_merged, left_on='county2', right_on='fips_code')
test_df['distance_factor'] = test_df.apply(lambda row: 1/(row['mi_to_county'] + 1), axis=1)
test_df['agr_wgt'] = test_df.apply(lambda row: row['agr'] * (row['distance_factor']), axis=1)
test_df['con_wgt'] = test_df.apply(lambda row: row['con'] * (row['distance_factor']), axis=1)
test_df['ext_wgt'] = test_df.apply(lambda row: row['ext'] * (row['distance_factor']), axis=1)
test_df['neu_wgt'] = test_df.apply(lambda row: row['neu'] * (row['distance_factor']), axis=1)
test_df['ope_wgt'] = test_df.apply(lambda row: row['ope'] * (row['distance_factor']), axis=1)
test_df.head()

,county1,mi_to_county,county2,fips_code,agr,con,ext,neu,ope,distance_factor,agr_wgt,con_wgt,ext_wgt,neu_wgt,ope_wgt
0,1001,22.462994,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.042620,0.002030,-0.021312,0.001746,0.026066,-0.005166
1,1007,25.777246,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.037345,0.001778,-0.018674,0.001530,0.022840,-0.004526
2,1009,78.160965,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.012632,0.000602,-0.006317,0.000518,0.007726,-0.001531
3,1011,78.504725,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.012578,0.000599,-0.006289,0.000515,0.007692,-0.001524
4,1013,76.212598,1021,1021,0.04762,-0.50004,0.04097,0.61159,-0.1212,0.012951,0.000617,-0.006476,0.000531,0.007921,-0.001570

In [14]:
grouped = test_df.groupby('county1')
interp_df = pd.DataFrame({
              'agr_interp':grouped.sum()['agr_wgt'] / grouped.sum()['distance_factor'],
              'con_interp':grouped.sum()['con_wgt'] / grouped.sum()['distance_factor'],
              'ext_interp':grouped.sum()['ext_wgt'] / grouped.sum()['distance_factor'],
              'neu_interp':grouped.sum()['neu_wgt'] / grouped.sum()['distance_factor'],
              'ope_interp':grouped.sum()['ope_wgt'] / grouped.sum()['distance_factor']
             })

In [15]:
interp_df.head()

         agr_interp  con_interp  ext_interp  neu_interp  ope_interp
county1
1001      -0.225678   -0.037324    0.187884    0.045376   -0.300095
1003      -0.332517   -0.139544    0.046125    0.054820   -0.070752
1005      -0.291477   -0.068228    0.246802   -0.008463   -0.345981
1007      -0.133617    0.026028    0.175017    0.075845   -0.243753
1009       0.004865    0.038444    0.068112    0.221960   -0.062005

In [30]:
df_merged_interp = pd.merge(pd.merge(pd.DataFrame(all_fips, columns=['fips_code']), df_merged, how='left'), interp_df, left_on='fips_code',right_on='county1')

In [31]:
df_merged_interp.head()

,fips_code,agr,con,ext,neu,ope,agr_interp,con_interp,ext_interp,neu_interp,ope_interp
0,1001,-0.72685,-0.61908,0.04729,0.53763,-0.29099,-0.225678,-0.037324,0.187884,0.045376,-0.300095
1,1003,0.18771,0.39662,0.29649,0.09940,0.39573,-0.332517,-0.139544,0.046125,0.054820,-0.070752
2,1005,-0.24126,-0.21672,0.50650,-0.22808,-0.60496,-0.291477,-0.068228,0.246802,-0.008463,-0.345981
3,1007,NaN,NaN,NaN,NaN,NaN,-0.133617,0.026028,0.175017,0.075845,-0.243753
4,1009,-0.02345,-0.10987,0.10189,0.96879,-0.28931,0.004865,0.038444,0.068112,0.221960,-0.062005

In [35]:
df_merged_interp['agr'] = df_merged_interp['agr'].fillna(df_merged_interp['agr_interp'])
df_merged_interp['con'] = df_merged_interp['con'].fillna(df_merged_interp['con_interp'])
df_merged_interp['ext'] = df_merged_interp['ext'].fillna(df_merged_interp['ext_interp'])
df_merged_interp['neu'] = df_merged_interp['neu'].fillna(df_merged_interp['neu_interp'])
df_merged_interp['ope'] = df_merged_interp['ope'].fillna(df_merged_interp['ope_interp'])

In [36]:
df_merged_interp.to_csv('big5_interp.csv')